/* src/index.css */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Forzar modo claro para evitar conflictos con temas oscuros del sistema */
  color-scheme: light;
  color: #0f172a; /* Azul navy base */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  /* IMPORTANTE: Hemos quitado 'display: flex' y 'place-items: center' que causaban el error */
}

#root {
  width: 100%; /* Asegura que la app ocupe todo el ancho */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}